#conocenos{  
  /* margin: 0 5vh; */
  /* display: grid; */
  /* grid-template-columns: auto; */
  /* grid-column-gap: 50px;   */
  background: var(--dark-color);
}

.card{
  padding: 2rem;
  display:flex;
  margin: 0 2rem;
}

 /* .card img{
  flex: 1;
  border-radius: 10%;
  background-repeat: no-repeat;
  align-self: center;
  height: auto; */
} */
/* .card-info{
  flex: 1;
  /* height: 30rem;   */
  border-radius: 10%;
  align-content: center;
  margin: 1rem;
} */


/* .half{
width: 40%;
flex: 1;
display: flex;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
align-content: space-between;  
text-align: center;
margin: 1.5rem;
} */

.icono{
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* #half-ubicacion{
  display: flex;
  flex-direction: column;
  align-content: space-between;  
} */

.big{
  font-size: 10rem;
}

/* #mobiliario{
  background: var(--dark-color) url(../img/mobiliario.jpg) no-repeat center center/cover  ;
}

#canchitafut{
  background: var(--dark-color) url(../img/canchitafut.jpg) no-repeat center center/cover  ;
}
#inflable1{
  background: var(--dark-color) url(../img/inflable1recortado.jpg) no-repeat center center/cover;
 
}
#inflable2{
  background: var(--dark-color) url(../img/inflable2recortado.jpg) no-repeat center center/cover;
}
 */
